@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Outfit:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .feature-card {
        @apply card w-96 bg-base-100 shadow-xl rounded-md
    }

    .pick-card {
        @apply card w-96 bg-base-100 shadow-xl image-full
    }

    .badge-btn {
        @apply px-4 py-1 bg-base-200 text-gray-500 font-semibold rounded-full shadow-sm hover:text-gray-400 hover:bg-base-300
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Outfit', sans-serif;
}

body {
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}